<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>1.651.2</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.SecurityRealm$None"/>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULLNAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds>
    <org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud plugin="kubernetes@0.6">
      <name>gcp-kubernetes-dev</name>
      <templates>
        <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
          <name>build-slave</name>
          <image>eggsy84/gcp-jenkins-slave-k8s-seed:latest</image>
          <privileged>true</privileged>
          <alwaysPullImage>true</alwaysPullImage>
          <command></command>
          <args></args>
          <remoteFs>/home/jenkins</remoteFs>
          <instanceCap>2147483647</instanceCap>
          <label>build-slave</label>
          <nodeSelector></nodeSelector>
          <volumes>
            <org.csanchez.jenkins.plugins.kubernetes.PodVolumes_-HostPathVolume>
              <mountPath>/var/run/docker.sock</mountPath>
              <hostPath>/var/run/docker.sock</hostPath>
            </org.csanchez.jenkins.plugins.kubernetes.PodVolumes_-HostPathVolume>
            <org.csanchez.jenkins.plugins.kubernetes.PodVolumes_-SecretVolume>
              <mountPath>/opt/config</mountPath>
              <secretName>gcloud-svc-account</secretName>
            </org.csanchez.jenkins.plugins.kubernetes.PodVolumes_-SecretVolume>
          </volumes>
          <envVars/>
        </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
      </templates>
      <serverUrl>https://kubernetes.default.svc.cluster.local:443</serverUrl>
      <skipTlsVerify>false</skipTlsVerify>
      <namespace>default</namespace>
      <jenkinsUrl>http://jenkins-ui:80</jenkinsUrl>
      <jenkinsTunnel>jenkins-discovery:50000</jenkinsTunnel>
      <containerCap>10</containerCap>
      <retentionTimeout>5</retentionTimeout>
    </org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud>
  </clouds>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>50000</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>
